<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- these values are used in CI so far: -->
    <add key="ApiHash" value="" />
    <add key="ApiId" value="" />
    <add key="NumberToAuthenticate" value="" />
    <add key="CodeToAuthenticate" value="" />
    <add key="NumberToSendMessage" value="" />
    <add key="UserNameToSendMessage" value="" />
    <!---->

    <add key="PasswordToAuthenticate" value=""/>
    <add key="NotRegisteredNumberToSignUp" value=""/>
    <add key="NumberToGetUserFull" value=""/>
    <add key="NumberToAddToChat" value=""/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
